# coding: utf-8

"""
    Stanza Hub API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 1.0
    Contact: support@stanza.systems
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six
from getstanza.hub.api_client import ApiClient


class AuthServiceApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def auth_service_get_bearer_token(self, **kwargs):  # noqa: E501
        """Get Bearer Token  # noqa: E501

        Inspects the X-Stanza-Key auth header and returns a new Bearer Token if API key is valid.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.auth_service_get_bearer_token(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str environment: Must be specified.
        :return: V1GetBearerTokenResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs["_return_http_data_only"] = True
        if kwargs.get("async_req"):
            return self.auth_service_get_bearer_token_with_http_info(
                **kwargs
            )  # noqa: E501
        else:
            (data) = self.auth_service_get_bearer_token_with_http_info(
                **kwargs
            )  # noqa: E501
            return data

    def auth_service_get_bearer_token_with_http_info(self, **kwargs):  # noqa: E501
        """Get Bearer Token  # noqa: E501

        Inspects the X-Stanza-Key auth header and returns a new Bearer Token if API key is valid.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.auth_service_get_bearer_token_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str environment: Must be specified.
        :return: V1GetBearerTokenResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ["environment"]  # noqa: E501
        all_params.append("async_req")
        all_params.append("_return_http_data_only")
        all_params.append("_preload_content")
        all_params.append("_request_timeout")

        params = locals()
        for key, val in six.iteritems(params["kwargs"]):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method auth_service_get_bearer_token" % key
                )
            params[key] = val
        del params["kwargs"]

        collection_formats = {}

        path_params = {}

        query_params = []
        if "environment" in params:
            query_params.append(("environment", params["environment"]))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params["Accept"] = self.api_client.select_header_accept(
            ["application/json"]
        )  # noqa: E501

        # HTTP header `Content-Type`
        header_params[
            "Content-Type"
        ] = self.api_client.select_header_content_type(  # noqa: E501
            ["application/json"]
        )  # noqa: E501

        # Authentication setting
        auth_settings = ["ApiKeyAuth"]  # noqa: E501

        return self.api_client.call_api(
            "/v1/auth/token",
            "GET",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type="V1GetBearerTokenResponse",  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get("async_req"),
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
        )
